<html>
    <head>
        <title>Braden's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Braden's Blog</a></h1>
        </div>

        <div>
            <p>published: 12.03.2020, 20:22</p>
            <h2><a href="">My First Post</a></h2>
            <p>Braden is pretty darn cool.</p>
        </div>

        <div>
            <p>published: 12.03.2020, 20:23</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Braden is the best.</p>
        </div>
    </body>
</html>